
.section-header{
    background-color: white;
    /* height: 100px; */
    margin-top: 50px;

}

.section-header h1{
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
}